header {font-family: 'Amatic SC', cursive;
text-align: center;
color: #004EA8;
font-size: 100px;
}

div h1 {font-family: 'Amatic SC', cursive;
font-size: 80px;
color: #3255A4;
text-align: center;
}

.navLink {font-family: 'Amatic SC', cursive;
font-size: 50px;
padding-right: 30px;
color: #3255A4;
text-align: center;
}

img {display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p {margin: 20px;
  font-style: regular;
  font-family: 'Nixie One', cursive;
  text-align: center;
  color: #FFB549;
}

div h2 {font-family: 'Amatic SC', cursive;
font-size: 40px;
text-align: center;
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}

.first {font-family: 'Nixie One', cursive;
border-style: none;
background-color: #FFDFB4;
color: #9B26B6;
margin-left: 60px;
margin-right: 60px;
margin-top: 25px;
margin-bottom: 100px;
border: 3px solid #FFDFB4;
font-weight: bold;
font-size: 20px;
font-style: regular;
text-align: center;
position: relative;
max-width: 800px;
margin: 0 auto;
}

.first .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.second {font-family: 'Nixie One', cursive;
border-style: none;
background-color: #FFDFB4;
color: #9B26B6;
margin-left: 60px;
margin-right: 60px;
margin-top: 25px;
margin-bottom: 100px;
border: 3px solid #FFDFB4;
font-weight: bold;
font-size: 20px;
font-style: regular;
text-align: center;
position: relative;
max-width: 800px;
margin: 0 auto;
}

.second .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.third {font-family: 'Nixie One', cursive;
border-style: none;
background-color: #FFDFB4;
color: #9B26B6;
margin-left: 60px;
margin-right: 60px;
margin-top: 25px;
margin-bottom: 100px;
border: 3px solid #FFDFB4;
font-weight: bold;
font-size: 20px;
font-style: regular;
text-align: center;
position: relative;
max-width: 800px;
margin: 0 auto;
}

.third .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.fourth {font-family: 'Nixie One', cursive;
border-style: none;
background-color: #FFDFB4;
color: #9B26B6;
margin-left: 60px;
margin-right: 60px;
margin-top: 25px;
margin-bottom: 100px;
border: 3px solid #FFDFB4;
font-weight: bold;
font-size: 20px;
font-style: regular;
text-align: center;
position: relative;
max-width: 800px;
margin: 0 auto;
}

.fourth .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.fifth {font-family: 'Nixie One', cursive;
border-style: none;
background-color: #FFDFB4;
color: #9B26B6;
margin-left: 60px;
margin-right: 60px;
margin-top: 25px;
margin-bottom: 100px;
border: 3px solid #FFDFB4;
font-weight: bold;
font-size: 20px;
font-style: regular;
text-align: center;
position: relative;
max-width: 800px;
margin: 0 auto;
}

.fifth .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.sixth {font-family: 'Nixie One', cursive;
border-style: none;
background-color: #FFDFB4;
color: #9B26B6;
margin-left: 60px;
margin-right: 60px;
margin-top: 25px;
margin-bottom: 100px;
border: 3px solid #FFDFB4;
font-weight: bold;
font-size: 20px;
font-style: regular;
text-align: center;
position: relative;
max-width: 800px;
margin: 0 auto;
}

.sixth .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#button {text-align: center;
  border-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 100px;
    border: 3px solid #FFF;
    background-color: #FFF;
    font-weight: bold;
    font-size: 20px;}
