header {font-family: 'Amatic SC', cursive;
        text-align: center;
        color: #004EA8;
        font-size: 100px;
        }

div h1 {font-family: 'Amatic SC', cursive;
        font-size: 60px;
        color: #3255A4;
        text-align: center;
        }

.navLink {font-family: 'Amatic SC', cursive;
          font-size: 50px;
          padding-right: 30px;
          color: #3255A4;
          text-align: center;
          }

img {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }

ul li {margin:20px;
      font-style: regular;
      font-family: 'Nixie One', cursive;
      text-align: center;
      color: #9B26B6;
      }

p {margin:20px;
  font-style: regular;
  font-family: 'Nixie One', cursive;
  text-align: center;
  color: #9B26B6;
  }

#explanation {border-style: none;
              margin-top: 25px;
              margin-bottom: 100px;
              border: 3px solid #D5EBEE;
              font-weight: bold;
              font-size: 30px;
              }

#rainbow {border-style: none;
              margin-top: 25px;
              margin-bottom: 100px;
              border: 3px solid #D5EBEE;
              background-color: #D5EBEE;
              font-weight: bold;
              font-size: 20px;
              }

  div h2 {font-family: 'Amatic SC', cursive;
          font-size: 40px;
          text-align: center;
          background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
          background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
          color:transparent;
          -webkit-background-clip: text;
          background-clip: text;
          }
