h1 {font-family: Arial;
    }



    ul li {color: purple;
      font-family: Helvetica;
      font-size: 14px;}

        h2
        {color: purple;
        }
        p {color: purple;
          font-family: Helvetica;
          font-size: 16px;
          }

p{margin:20px;}

h3 {
    font-family:Arial;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  # Rainbow Flag meaning {border: 3px solid #000;
        }
  ÔºÉRainbow Flag meanig .important {font-weight:bold; font-size: 16px}
