h1 {font-family: Helvetica;
    font-size: 16px;
    color: navy;}

    h2 {font-family: Helvetica;
        font-size: 16px;
        color: navy;}

        .navLink {font-family: 'Amatic SC', cursive;
            }

            header {text-align: center;}
